<div  class="highlight-container box primary">
  <div class="card card-head rounded-0 p-1 box1 text-secondary" [@enterAnimation] *ngIf="isHeaderVisible(root)"  
    [ngClass]="{'bg-primary': isFolder(root), 'bg-light report-box': !isFolder(root), 
                'text-secondary': isLatestVersion(root), 'text-primary': !isLatestVersion(root)}" style="margin-top:2px;">
    <div class="row">
      <div class="col-10" (click)="changeCollapsedState(root)" *ngIf="isFolder(root)">
        <span><i class="fa" [ngClass]="{'fa-folder-o': root.collapsed, 'fa-folder-open-o': !root.collapsed }"> </i> {{root.text}}</span>
      </div>
      <div class="col-10" (click)="reportSelected(root)" *ngIf="!isFolder(root)">
        <div class="row">
        <div class="col-10">
          <span><i class="fa fa-file-o"> </i> {{root.text}}</span>
        </div>
        <div *ngIf="root.showVersion" class="col-2 text-right text-sm">v {{root.version}} <span class="small "*ngIf="isLatestVersion(root)"> - online</span></div>
        </div>
      </div>
      <div class="col-2">
        <app-tree-view-actions *ngIf="root.showActions" [item]="root"></app-tree-view-actions>
      </div>
    </div>
  </div>
  <div *ngIf="isBodyVisible(root)" class="card card-body rounded-0 p-1">
    <div *ngFor="let item of root.children">
      <app-tree-view [root]="item" [level]=level+1 [filter]="_filter"></app-tree-view>
    </div>
  </div>
  <div *ngIf="showEmptyBody(root)" class="card card-body rounded-0 p-1">
    <span class="text-info">Folder is empty</span>
  </div>
</div>