<div *ngIf="displayMode === paramLookupMode.system">
  <span class="text-warning">System</span>
</div>

<div class="btn-group" dropdown *ngIf="displayMode != paramLookupMode.system">
  <button *ngIf="displayMode === paramLookupMode.lookupSelected" type="button" style="width:70px;"
    class="btn btn-info btn-sm" (click)="showLookupEditor(templateLookup)">Lookup</button>
  <button *ngIf="displayMode === paramLookupMode.sqlSelected" type="button" style="width:70px;"
    class="btn btn-info btn-sm" (click)="showSqlEditor(templateSql)">SQL</button>
  <button *ngIf="displayMode === paramLookupMode.noneSelected" type="button" style="width:70px;"
    class="btn btn-info btn-sm">None</button>
  <button type="button" dropdownToggle class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split">
    <span class="caret"></span>
    <span class="sr-only">Split button!</span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a [routerLink]="" class="dropdown-item" href="#" 
      (click)="selectMode(paramLookupMode.noneSelected)">None</a></li>
    <li role="menuitem"><a [routerLink]="" class="dropdown-item" href="#" 
      (click)="selectMode(paramLookupMode.sqlSelected)">SQL</a></li>
    <li role="menuitem"><a [routerLink]="" class="dropdown-item" href="#"
       (click)="selectMode(paramLookupMode.lookupSelected)">Lookup</a></li>
  </ul>
</div>



<ng-template #templateLookup>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Lookup Values</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Lookup
  </div>
</ng-template>

<ng-template #templateSql>
  <div class="modal-header">
    <h4 class="modal-title pull-left">SQL</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <codemirror [(ngModel)]="code" #editor [config]="config">
    </codemirror>
    <div class="float-right mt-3">
      <button class="btn btn-primary" (click)="save()"><i class="fa fa-save"></i> Save</button>
      <button class="btn" (click)="modalRef.hide()"><i class="fa fa-remove"></i> Cancel</button>
   </div>
  </div>
</ng-template>