.sidebar-back {
  width: 200px;
  height: calc(100vh - 72px);
}

.sidebar-menu {
  font-size: 2em;
  padding: 4px;
}
.sidebar-menu-body {
  width:100px;
  padding: 4px;
}

.navbar-full {
  width: 100%;
}