 <app-nav-bar></app-nav-bar> 
<div class="conatainer-fluid">
  <div class="row">
    <ng-sidebar-container style="height: 100vh;">

    <!-- A sidebar -->
    <ng-sidebar [(opened)]="sidebarOpened" [showBackdrop]="false"
        [closeOnClickBackdrop]="true" [dockedSize]="'34px'" [dock]="true">
      <div class="card sidebar-back rounded-0">
        <div class="sidebar-menu bg-secondary rounded-0">
          <a href="#" [routerLink]="" (click)="toggleSidebar()" ><i class="fa float-right" 
          [ngClass]="{'fa-arrow-circle-left': sidebarOpened, 'fa-arrow-circle-right': !sidebarOpened}" ></i></a>
        </div>
        <!-- <div class="sidebar-menu-body"> -->
          <nav class="navbar navbar-full navbar-dark bg-inverse">
            <ul class="nav nav-pills flex-column w-75">
              <li class="nav-item">
                <a class="nav-link active" href="#">Reports <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Monitor</a>
              </li>
            </ul>
          </nav>
        <!-- </div> -->
      </div>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content class="h-100">
      <div class="card card-body bg-light rounded-0">
        <div class="card card-body rounded-0 m-1">
        </div>
        <div class="card card-body rounded-0 m-1">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

    </ng-sidebar-container>

  </div>
</div>


