<div class="card-body">
  <table class="table table-striped table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Caption
        </th>
        <th scope="col">
          Type
        </th>
        <th scope="col">
          Optional
        </th>
        <th scope="col">
          Read Only
        </th>
        <th scope="col">
          Default
        </th>
        <th scope="col">
          Lookup
        </th>
      </tr>
    </thead>

    <tbody *ngIf="reportDefinition">
      <tr *ngFor="let param of reportDefinition.params" scope="row">
        <td>
          {{param.name}}
        </td>
        <td>
          <input type="text" [(ngModel)]="param.caption" class="form-control form-control-sm"/>
        </td>
        <td>
          <div class="">
            <select class="form-control form-control-sm" id="paramType" name="paramType" [(ngModel)]="param.paramType">
              <option *ngFor="let type of paramTypes" [value]="type.id">{{type.text}}</option>
            </select>
          </div>
        </td>
        <td>
          <div class="form-check mx-auto" style="width:10px;">
            <input type="checkbox" class="form-check-input" id="optional-check" [(ngModel)]="param.isOptional">
          </div>
        </td>
        <td>
          <div class="form-check mx-auto" style="width:10px;">
            <input type="checkbox" class="form-check-input" id="readonly-check" [(ngModel)]="param.isReadOnly">
          </div>
        </td>
        <td>
          <input type="text" [(ngModel)]="param.default" class="form-control form-control-sm"/>
        </td>
        <td>
          <app-param-lookup [param]="param"></app-param-lookup>
        </td>
      </tr>
    </tbody>

  </table>

</div>