<div class="card-body">
  <div class="">
    <!-- <div class="card-header">
      <input name="secGroups"
          [(ngModel)] = "selected"
          [typeahead] = "groups"
          placeholder ="Type to filter security groups"
          class="form-control"/>
    </div> -->
    
    <div class="row">
      <div class="col-6">
        <div class="card card-header p-1 text-center rounded-0">
          <h5>Available Security Groups</h5>
        </div>
        <div class="card-body rounded-0" style="height:300px;overflow-y:auto;">
          <ul class="list-group">
            <li *ngFor="let group of groups" class="list-group-item p-1 mb-1">
              {{group}}<a class="text-secondary pull-right" [routerLink]="" (click)="assignGroup(group)"><i class="fa fa-arrow-right"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-6">
        <div class="card card-header p-1 text-center rounded-0">
          <h5>Assigned Security Groups</h5>
        </div>
        <div class="card-body rounded-0" style="height:300px;overflow-y:auto;">
          <ul class="list-group">
            <li *ngFor="let group of assignedGroups" class="list-group-item p-1 mb-1">
              {{group}}<a class="text-danger pull-right" [routerLink]="" (click)="removeGroup(group)"><i class="fa fa-remove"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>