<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand">
  <div class="form-check">
    <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fa" [class.fa-caret-right]="item.collapsed"
      [class.fa-caret-down]="!item.collapsed"></i>
    <label class="form-check-label">
      {{item.text}}
    </label>
    <label class="form-check-label">
      <i class="fa fa-trash" aria-hidden="true" title="Remove" (click)="removeItem(item)"></i>
    </label>
  </div>
</ng-template>
<ngx-treeview
    [config]="config"
    [items]="items"
    [itemTemplate]="itemTemplate"
    (selectedChange)="onSelectedChange($event)">
</ngx-treeview>