<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
  </div>
  <input type="text" class="form-control" placeholder="Start typing part of the name of a report to filter..." aria-describedby="basic-addon1" 
    [(ngModel)]="filter">
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>

<app-tree-view *ngIf="!loading" [root]="root" [filter]="filter"></app-tree-view>