<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>

<div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger">

    <div *ngIf="userName.errors.required">
    Name is required.
    </div>
    <div *ngIf="userName.errors.minlength">
    Name must be at least 4 characters long.
    </div>

</div>

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center text-white mb-4">BizNav</h2>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <span class="anchor" id="formLogin"></span>

                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">BizNav Login</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" id="formLogin" (ngSubmit)="onSubmit()" #loginForm="ngForm">
                                <div class="form-group">
                                    <label for="uname1">Username</label>
                                    <input type="text" class="form-control form-control-lg rounded-0" name="userName" [(ngModel)]="userName"  id="uname1" required="">
                                </div>
                                <div class="form-group">
                                    <label for="pwd1">Password</label>
                                    <input type="password" name="password" [(ngModel)]="password" class="form-control form-control-lg rounded-0" id="pwd1" required="" autocomplete="new-password">
                                </div>
                                
                                <button type="submit" class="btn btn-primary btn-lg float-right" [disabled]="!loginForm.form.valid">Login</button>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->